@media (min-width: 850px) {

  h1{
    margin: 2.4rem 2.4rem 0 2.4rem;
    font-size: 2.6rem;
  }

  h2{
    margin: 0 2.3rem;
    font-size: 1.6rem;
  }

  .c1{
    width: 129px;
    transform: translate(-281px, -28px);
  }

  .c2{
    width: 188px;
    transform: translate(-251px, -110px);
  }

  .c3{
    width: 179px;
    transform: translate(-80px, -107px);
  }

  .c4{
    width: 135px;
    transform: translate(-6px, -223px);
  }

  .c5{
    width: 183px;
    transform: translate(59px, -262px);
  }

  .c6{
    width: 214px;
    transform: translate(41px, -273px);
  }

  .c7{
    width: 112px;
    transform: translate(-322px, 175px);
  }

  .c8{
    width: 170px;
    transform: translate(234px, -291px);
  }

  .t{
    font-size: 1rem;
  }

  .t1{
    transform: translate(-241px, 111px);
  }

  .t2{
    transform: translate(-163px, -18px);
  }

  .t3 {
    transform: translate(13px, -9px);
  }

  .t4{
    transform: translate(36px, -119px);
  }

  .t5 {
      transform: translate(129px, -197px);
  }


  .ic-therm {
    width: 35px;
    transform: translate(-237px, 32px);
  }

  .ic-hum{
    width: 45px;
    transform: translate(-164px, -84px);
  }

  .ic-sal {
    width: 53px;
    transform: translate(36px, -176px);
  }

  .ic-ph{
    width: 50px;
    transform: translate(-16px, -69px) rotate(26deg);
  }

  .ic-oxi{
    width: 106px;
    transform: translate(104px, -260px) rotate(11deg);
  }

  .modal-box {
    width: 50%;
    max-height: 80vh;
  }

}
